# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Logs
*.log

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Video captures (opcionales)
captures/
recordings/
*.mp4
*.avi
*.mov
